@import "../../styles.scss";

section{
    @include d-flex();
    img{
        @include bg();
    }
    article{
        @include frame();
        .note{
            width: 408px;
            height: 46px;
            font-size: 18px;
            @include d-flex();

            a{
                text-decoration: none;
            }
        }
    }
    .resetForm{
        @include d-flex($fd: column);
    }
        .emailCorner{
        input {
                background: inherit;
                border: 1px solid blue;
                padding: 12px 24px;
                width: 324px;
                height: 24px;
                color: white;
                background-image: url('/icons/mail.png');
                background-position: left;
                background-repeat: no-repeat;
        }
    }

    .passwordCorner{
        position: relative;
        display: block;
        
        input {
                background: inherit;
                border: 1px solid blue;
                padding: 12px 24px;
                width: 324px;
                height: 24px;
                color: white;
                background-image: url('/icons/password.png');
                background-position: left;
                background-repeat: no-repeat;
        }

        .showPWIcon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px; 
            background-color: transparent;
            border: none;
            cursor: pointer;
            z-index: 2;
            padding: 0; 
            img{
                height: 20px; 
                width: auto;
            }
        }
    }

            form{
        .btnCorner{
            @include d-flex();
            width: 408px;
            height: 48px;
        }
        .resetBtn {
                @include d-flex(); 
                background-color: #2E3EDF;
                color: white;
                border-radius: 40px;
                border: 1px solid #2E3EDF;
                padding: 12px 24px;
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                cursor: pointer;
                :invalid{
                    background-color: lightgray;
                }
            }
    } 
}
