<main class="w_full d_flex_ss_gl font_white_color">
    <app-header></app-header>
<section class="preview_section">
    <div class="preview_section_video" [style.backgroundImage]="'url(' + featuredVideo?.thumbnail_url + ')'">
  <div class="preview_section_video_overlay"></div>
</div>
    <article *ngIf="featuredVideo">
        <h1>{{ featuredVideo.title }}</h1>
        <p>{{ featuredVideo.description }}</p>
        <button class="playBtn" (click)="openVideoOverlay()">
            <img src="/icons/play_arrow.svg" alt="">
            Play
        </button>
    </article>
</section>

    <section class="list_section">
        <section class="video_list">
            <h2>New on Videoflix</h2>
            <div class="scroll-wrapper">
                <ul id="newest">
                    <li *ngFor="let video of latestVideos" (click)="selectVideo(video.id)">
                        <img [src]="video.thumbnail_url" [alt]="video.title">
                    </li>
                    <li *ngIf="!latestVideos.length" style="font-style: italic">No new videos available.</li>
                </ul>
            </div>
        </section>
        <section class="video_list" *ngFor="let category of videos | uniqueCategories">
            <h2>{{ category }}</h2>
            <div class="scroll-wrapper">
                <ul>
                    <li *ngFor="let video of videos | filterByCategory:category" (click)="selectVideo(video.id)">
                        <img [src]="video.thumbnail_url" [alt]="video.title">
                    </li>
                </ul>
            </div>
        </section>
    </section>

<!-- Overlay-Player -->
<div class="video-overlay" 
     [style.display]="isVideoOverlayOpen ? 'flex' : 'none'"
     (mousemove)="showControlsTemporarily()">
  <div class="overlay-content">
    <div class="overlay-header" *ngIf="showOverlayControls">
      <img src="/icons/arrow_back.svg" (click)="closeVideoOverlay()" alt="">
      <img src="/icons/logo_icon_small.svg" alt="">
    </div>
    <div class="video-wrapper">
      <app-vjs-player></app-vjs-player>
            <div class="overlay-controls" *ngIf="showOverlayControls">
        <button (click)="rewindVideo(10)">⏪ 10s</button>
        <button (click)="forwardVideo(10)">10s ⏩</button>
        <button (click)="toggleFullscreen()">⛶</button>
      </div>
    </div>
    </div>
</div>
    <app-footer></app-footer>
</main>


