@import "../../styles.scss";

section{
    @include d-flex();
    img{
        @include bg()
    }
    .logInFrame{
        @include frame()
    }

    .emailCorner{
        input {
                background: inherit;
                border: 1px solid blue;
                padding: 12px 24px;
                width: 324px;
                height: 24px;
                color: white;
                background-image: url('/icons/mail.png');
                background-position: left;
                background-repeat: no-repeat;
        }
    }

    .passwordCorner{
        position: relative;
        display: block;
        
        input {
                background: inherit;
                border: 1px solid blue;
                padding: 12px 24px;
                width: 324px;
                height: 24px;
                color: white;
                background-image: url('/icons/password.png');
                background-position: left;
                background-repeat: no-repeat;
        }

        .showPWIcon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px; 
            background-color: transparent;
            border: none;
            cursor: pointer;
            z-index: 2;
            padding: 0; 
            img{
                height: 20px; 
                width: auto;
            }
        }
    }

    /* Anpassungen für den Log-In Button */
    form{
        .btnCorner{
            @include d-flex()
        }
        .logIn {
                @include d-flex(); // Zentriert den Text im Button
                background-color: #2E3EDF;
                color: white;
                border-radius: 40px;
                border: 1px solid #2E3EDF; // border-color zu border geändert
                padding: 12px 24px;
                font-size: 18px;
                font-weight: 700;
                width: 50%; // Der Button soll die volle Breite der Form einnehmen
                height: auto; // Automatische Höhe basierend auf dem Inhalt und Padding
                text-decoration: none;
            }
    } 


    .linksPart{
        @include d-flex($fd: column);
        .pwForget{
            color: white;
            text-decoration: none;
            &:hover{
                color: #2E3EDF;
            }
        }
        .signUp{
            color: white;
            text-decoration: none;
            font-weight: bolder;
            &:hover{
                color: #2E3EDF;
            }
        }
    }
}