@import "../../styles.scss";

section{
    img{
        filter: brightness(50%);
        width: 100%;
        height: 100vh;
        display: block;
        display: content;
    }

}

article{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 670px;
    height: 189px;
    top: 355.5px;
    left: 417.5px;
    gap: 32px;
    z-index: 2;

}

h1{
    font-weight: 700;
    text-wrap:unset;
    font-size: 48px;
    margin-top: 0;
    height: 62px;
}

form{
    @include d-flex();
    gap: 4px;
    
    .submit{
    background-color: #2E3EDF;
    color: white;
    border-radius: 40px;
    border-color: #2E3EDF;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 700;
    width: 142px;
    height: 48px;
    gap: 10px;
    }
    .emailField{
        background-color: #1C1A20CC;
        opacity: 0.8;
        color: white;
        width: 360px;
        padding: 12px 24px;
        border: 1px solid white;
        border-radius: 40px;
        gap: 10px;
        font-size: 18px;
        font-weight: 400;
    }

}

.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 372px;
  height: 42px;
  padding: 24px 32px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  opacity: 0.9;
  background-color: #2E3EDF;
  z-index: 5;
  @include d-flex($js: space-between);
  /* Zusätzliche Anpassung: Das übergeordnete Element (der Toast) muss relativ positioniert sein, damit das Kind-Element (der Status) absolut dazu ausgerichtet wird. Das hast du bereits getan. */
  
  .toast-status{
    position: absolute; /* Absolut positionieren */
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px; /* Eine schmale Leiste als Indikator */
    border-top-left-radius: 20px; /* Abgerundete Ecken oben und unten links */
    border-bottom-left-radius: 20px;
    }

    .toast-status.success {
  background-color: #28a745;
}

.toast-status.error {
  background-color: #dc3545;
}

    .toast-content{
        @include d-flex($g:10px);
    }
}


.toast-divider {
  width: 4px;
 background-color: white;
  height: 100%;
}

.toast-close {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  padding: 0 12px;
  cursor: pointer;
  line-height: 1;
}